* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: block;
  padding: 40px 10px;
  background-color: rgb(0, 0, 75) !important;
  color: white;
}
.navbar #name {
  font-size: 2em;
}
.navbar span {
  display: block;
}

.about {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  font-size: 1.1em;
  font-style: italic;
  margin-top: 10px;
  border-bottom: 2px solid rgb(0, 0, 75);
}
.about .profile-picture {
  max-width: 30%;
  max-height: 30%;
  float: left;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid gray;
  box-shadow: 5px 5px 5px gray;
}
.about .description {
  margin-left: 10px;
}

.skills, .contact, .projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgb(0, 0, 75);
  padding: 50px 0px;
}

.skills-level {
  width: 90%;
}
.skills-level span {
  font-size: 0.9em;
}
.skills-level .progress {
  margin-bottom: 10px;
  width: 100%;
}
.skills-level .progress .progress-bar {
  background-color: rgba(0, 0, 75, 0.8);
}

section h2 {
  text-align: center;
  padding-bottom: 30px;
}

.projects .all-cards {
  display: flex;
  justify-content: center;
}
.projects .card {
  width: 60%;
  border: 2px solid gray;
  box-shadow: 5px 5px 5px gray;
}
.projects .card img {
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
  text-align: center;
}
.projects .card a {
  background-color: rgba(0, 0, 75, 0.8);
  margin-right: 10px;
}
.projects .card a:hover {
  background-color: rgba(0, 0, 75, 0.7);
}
.projects .card a:active {
  background-color: rgb(0, 0, 75);
}

.contact {
  border-bottom: none;
  min-height: 300px;
}
.contact p {
  margin-bottom: 30px;
  text-align: center;
}
.contact .buttons {
  margin-top: 10px;
}
.contact a {
  background-color: rgba(0, 0, 75, 0.8);
  margin-right: 10px;
}
.contact a:hover {
  background-color: rgba(0, 0, 75, 0.7);
}
.contact a:active {
  background-color: rgb(0, 0, 75);
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px 30px 0px;
  min-width: 100%;
  background-color: rgb(0, 0, 75);
  color: white;
  border: 2px solid rgb(0, 0, 75);
}
footer p {
  width: 40%;
  font-size: 0.6em;
  text-align: center;
}
footer nav {
  margin: 0px 30px 20px 0px;
  max-width: 20%;
  max-height: 10%;
}
footer nav a {
  padding: 5px;
  text-decoration: none;
}

@media (min-width: 769px) {
  .core {
    display: block;
    max-width: 80%;
  }
  .core .description p {
    font-size: 1.2em;
  }
  .core section h2 {
    font-size: 1.7em;
  }
  .core .skills span, .core .projects span, .core .contact span {
    font-size: 1em;
  }
  .core .card-2 {
    margin-left: 40px;
  }
  .core .contact p {
    font-size: 1.1em;
  }
  footer p {
    font-size: 0.7em;
  }
}
@media (min-width: 993px) {
  .navbar {
    position: static !important;
  }
  .navbar #name {
    font-size: 2.2em;
  }
  .navbar a {
    font-size: 1.1em;
  }
  .core {
    display: block;
    max-width: 70%;
  }
  .core .description p {
    font-size: 1.3em;
  }
  .core section h2 {
    font-size: 1.8em;
  }
  .core .skills span, .core .projects span, .core .contact span {
    font-size: 1.1em;
  }
  .core .contact p {
    font-size: 1.2em;
  }
  footer p {
    font-size: 0.8em;
    margin-right: 300px;
  }
  footer nav {
    margin-right: 100px;
  }
}
@media (min-width: 1201px) {
  .navbar #name {
    font-size: 2.4em;
  }
  .navbar a {
    font-size: 1.2em;
  }
  .core {
    display: block;
    max-width: 60%;
  }
  .core .description p {
    font-size: 1.4em;
  }
  .core section h2 {
    font-size: 1.9em;
  }
  .core .skills span, .core .projects span, .core .contact span {
    font-size: 1.2em;
  }
  .core .contact p {
    font-size: 1.3em;
  }
  footer p {
    font-size: 0.9em;
    margin-right: 450px;
  }
  footer nav {
    margin-right: 150px;
  }
}/*# sourceMappingURL=main.css.map */